body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style:"none"
}

.selected {
  background: repeating-linear-gradient(
    -45deg,
    #E38711,
    #E38711 10px,
    #B88853 10px,
    #B88853 20px
  );
}
